* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("./img.jpg") no-repeat center;
    background-size: cover;
    /* height: 100vh; */
}

.form-wrapper{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form {
    border-radius: 10px;
    box-shadow: 2.5px 5px #f0e88186;
    padding: 30px 25px 25px;
    background-color: rgba(230, 243, 144, 0.626);
}

#submit-login{
    padding: 7px 9px;
    border: none;
    background-color: rgb(126, 126, 236);
    border-radius: 20px;
    transition-duration: 500ms;
    margin: 10px 0px 10px;
    font-size: x-large;
    text-align: center;    
}
#submit-login:hover{
    padding: 5px 7px;
    border: 2px solid yellow;
    background-color: rgb(124, 252, 171);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 500ms;
    font-size: x-large;
}
input {
    width: 100%;
    padding: 12px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(239, 253, 150);
    border: none;
    border-bottom: 2px solid rgb(138, 21, 56);
    font-size: larger;


    
}

