*{
    padding: 0;
    margin: 0;
}
body {
	font-family: sans-serif;	
	background-image: url(bg2.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
    height: 100vh;    
} 

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 174, 0, 0.285);
    padding: 20px;
    border-radius: 25px;
    zoom: 125%;
    box-shadow: 2px 3px 3px 2px #033d13c1;
}

.center{
    
    background-color: rgba(255, 255, 255, 0.762);
    border-radius: 25px;
    width: 80%;
    margin-left: 10%;
    zoom: 125%;


} 

.wrap h1{
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid gold;
    color: aliceblue;

}

form{
    margin-top: 20px;
    padding: 10px 20px;
    box-sizing: border-box;

}
 
form .txtField{
  position: relative;
  border-bottom: 2px dashed gold;
  margin: 20px 0;  
} 

.txtField input{
    width: 100%;
    padding: 0 8px;
    height: 15px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}


.txtField label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #2c3495;
    font-size: 15px;
    pointer-events: none;
    transition: .5s;

}

.txtField span::before{
    content: '';
    position: absolute;
    top: 18.5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #04950e;
    transition: .5s;
}

.txtField input:focus ~ label, .txtField input:valid ~ label {
    top: -6px;
    color: black;
    transition: .5s;
    
}

.txtField input:focus ~ span::before, .txtField input:valid ~ span::before {
    width: 100%;

}

.pass{
    margin: 15px 0px 15px 5px;
    color: rgb(169, 102, 1); 
    cursor: pointer;
    transition: .5s;
}

input[type="submit"]{
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-weight: 800;
    background-color: #5a22e6;
    color: aliceblue;
    outline: none;
    transition: .5s;
    margin-left: 20%;
}

input[type="submit"]:hover{
    box-shadow: 3px 5px 7px 1px #033d13c1;
    cursor: pointer;
    background-color: #0a822c;
    transition: .5s;
}

.pass:hover{
    text-decoration: underline;
}

form .signUp{
    /* padding-bottom: 20px; */
    text-align: center;
    font-size: 16px;
    color: black;
}

.signUp a{
    color: #5a22e6;
    text-decoration: none;
}

.signUp a:hover{
    color: #5a22e6;
    text-decoration: underline;
}


.carousel-container{
    width: 500px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.carousel-slider{
    display: flex;
    width:100%;

}

#prevBtn{
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 10;
    border: none;
    background-color: rgba(255, 235, 205, 0);
    color: antiquewhite;
    font-size: 50px;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 45%;
    right: 5%;
    z-index: 10;
    border: none;
    background-color: rgba(255, 235, 205, 0);
    color: antiquewhite;
    font-size: 50px;
    cursor: pointer;
} 













/*
.container {
	height: 680px;
	width: 480px;
	margin: auto;
	border-radius: 25px;
	background-color: rgba(18, 255, 14, 0.19);
    transition-duration: 300ms;

}
.container:hover {
	height: 720px;
	width: 520px;
	margin: auto;
	border-radius: 25px;
	background-color: rgba(78, 75, 4, 0.347);
	box-shadow: 0 0 17px #333;
    transition-duration: 300ms;

}
.wrapper {
    height: 100vh;
    padding: 10%;
    /* height: 50%;
    width: 50%;
    transform: translate(-50%, -50%); */
*/
/*
.title {
	text-align: center;
	padding-top: 75px;
}

.title h1 {
	color: #333;
	font-size: 45px;
	margin-bottom: 80px;
}

.main {
	text-align: center;
}

.main input, button {
	width: 350px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
    transition-duration: 500ms;

}

.main button {
	width: 200px;
	padding-left: 0;
	background-color: #83acf1;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
	border-radius: 25px;


}

.main button:hover {
	box-shadow: 2px 2px 5px rgba(122, 255, 51, 0.871);
	background-color: #ace669;
	box-shadow: 2px 2px 5px #555;
    transition-duration: 500ms;


}
.main input:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #ddd;
    transition-duration: 500ms;

}

.main span {
	position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 16px;
	top: 2px;
}*/

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    top: -50px;
    left: calc(50% - 75px);
}

.avatar2{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    top: -50px;
    left: calc(50% - 75px);
} 




/* body{
    padding: 0;
    margin: 0;
    
} */

/* .wrap{
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%); 
    margin: auto;
    width: 400px; 
    position: absolute; 
    margin auto; 
    background-color: aquamarine;
    border-radius: 25px; s
} */

/* .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    border-radius: 25px;
    margin-left: 50%;

}  */

/* h1{
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 2px solid gold;

} */

/* form{
    padding: 0 20px;
    box-sizing: border-box;

} */
/* 
form .txtField{
    
} */



