body{
    background-color: #333966;
}

h1{
    text-align: center;
    color: aliceblue;
}

.btn{
    background-color: blue;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    margin-right: 15px;
    
}

