:root{
    background-color: rgb(8, 250, 250);
}
/* body{} */

h1{
    margin-top: 1em;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-decoration: underline;
    color: blueviolet;
    text-decoration-color: blueviolet;
}

#result{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 1em;
    color: rgb(60, 38, 133);
}

#box{
    padding-left: 40%;
    margin-top: 1em;

}

.ticTacToe{
    height: 5em;
    width: 5em;
    border-radius: 20%;
    border-width: medium;
    border-color: blue;
    cursor: pointer;
    font-size: xx-large;
    color:rgb(77, 96, 67);

}

.button{
    text-align: center;
    height: 50px;
    width: 150px;
    margin-top: 3em;
    font-size: large;
    background-color: rgb(92, 213, 96);
    border-radius: 50px;
    border-width: 5px;
    border-color: blueviolet;
    cursor: pointer;
    

}

#edit{
    margin-left: 48em;
    margin-right: 2em;
}

