@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700");
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
pre {
	margin: 0;
	padding: 0;
}
.links {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	/* font-size: 2em; */
	/* font-weight: 300; */
}
.links > a {
	color: rgb(220, 229, 238);
	padding: 0.75em;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s;
}
.links > a:hover {
	background: #df9c9c06;
	color: rgb(39, 245, 12);
}
.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all 0.5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line {
	--index: 1;
}
.links > a:nth-of-type(2):hover ~ .line {
	--index: 2;
}
.links > a:nth-of-type(3):hover ~ .line {
	--index: 3;
}
.links > a:nth-of-type(4):hover ~ .line {
	--index: 4;
}
.links > a:nth-of-type(5):hover ~ .line {
	--index: 5;
}
.links > a:nth-of-type(6):hover ~ .line {
	--index: 6;
}
.links > a:nth-of-type(7):hover ~ .line {
	--index: 7;
}
.links > a:nth-of-type(8):hover ~ .line {
	--index: 8;
}
.links > a:nth-of-type(9):hover ~ .line {
	--index: 9;
}
.links > a:nth-of-type(10):hover ~ .line {
	--index: 10;
}
.links > a:last-of-type:hover ~ .line {
	--index: var(--items);
}

h1{
	color: antiquewhite;
}