*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-container{
    width: 40%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.carousel-slider{
    display: flex;
    width:100%;

}

#prevBtn{
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 10;
    border: none;
    background-color: rgba(255, 235, 205, 0);
    color: antiquewhite;
    font-size: 50px;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 45%;
    right: 5%;
    z-index: 10;
    border: none;
    background-color: rgba(255, 235, 205, 0);
    color: antiquewhite;
    font-size: 50px;
    cursor: pointer;
}



