*{
    padding: 0;
    margin: 0;
    outline: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: bisque;
}


.container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    margin-top: 2em;
    font-size: xx-large;

}

.wrapper{
    /* padding: 50px; */
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(134, 236, 130);
    height 450px;
    width: 350px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    border-radius: 15px;
}


#inputBox{
    border-radius: 25px;
    border: none;
    margin: auto;
    position: relative;
    left: 30%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(172, 240, 175, 0.925);
    padding: 15px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 300ms;
}

#inputBox:hover{
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: auto;
    position: relative;
    left: 30%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(172, 240, 175, 0.925);
    padding: 15px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.815);
    transition: 300ms;
}

#btn{
    border-radius: 25px;
    border: none;
    margin: auto;
    position: relative;
    left: 13%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgb(22, 201, 46);
    padding: 15px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 300ms;
}

#btn:hover{
    border-radius: 25px;
    border: none;
    margin: auto;
    position: relative;
    left: 13%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: rgb(22, 201, 46);
    padding: 17px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.808);
    transition: 300ms;
}

.elemrnt-list{
    height: 100px;
    position: absolute;
    margin: auto;
    width: 350px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    alig
}

ul{
    padding: 10px;
}

li{
    list-style: none;
    background-color: rgb(13, 118, 209);
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
    background-color: #4642fcee;


}

li:hover{
    list-style: none;
    background-color: rgb(68, 228, 116);
    margin: 10px;
    transition: 0.3s;
    border-radius: 15px;
    padding: 11px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.808);
    background-color: rgb(22, 201, 117);
    
}

.checked{
    text-decoration: line-through;
    background-color: rgb(25, 163, 12);
}