<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Spotifyy - Sign up & Login Form</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style2.css">
  <!-- <script src="js/index.js" defer></script> -->

</head>
<body> 

	<header id="header">
		<nav class="links" style="--items: 5;">
			<a href="/">Home</a>
			<a href="/dashboard">Dashboard</a>
			<a href="/songs">Songs</a>
			<a href="#">Link 4</a>
			<a href="#">Link 5</a>
			<span class="line"></span>
		</nav>
	</header>

	
	<div class="main">  	
		<div class="login">
			<form id="changePassword" action="/change-pass">
				<label for="chk" aria-hidden="true">Change Password</label>
				<h2 style="text-align: center;">Change Password </h2>
				<h3 style="text-align: center;"><%= name %></h3>
				
				<!-- <input type="email" name="email" id="logEmail" placeholder="Email" required=""> -->
				<!-- <input type="password" name="pswd" id="oldPassword" placeholder="New Password" required=""> -->
				<input type="password" name="newpassword" id="newpassword" placeholder="Old Password" required="">
				
				<button type="submit">Proceed</button>
			</form>
		</div>
	</div>
	<script>
		// Change Password Event Function
		const changePasswordForm = document.getElementById("changePassword");
		changePasswordForm.addEventListener("submit", changePasswordUser);

		async function changePasswordUser(event){
			event.preventDefault();
			// const username = document.getElementById("userName").value;
			// console.log("********* ---->>>>", changePasswordForm);
			// const email = document.getElementById("email").value = "Suman@ab.co";
			const password = document.getElementById("newpassword").value;
			// console.log(username);
			const result = await fetch('/change-pass', {
				method : 'POST',
				headers : {
					'Content-Type' : 'application/json',
				},
				body : JSON.stringify({
					newPassword: password,
					token: localStorage.getItem('token')
				})
			}).then((resp) => resp.json());
			// console.log(result);
			if(result.status === "OK"){
				alert("User has changed password successfully!");
			}else{
				alert(result.error);
			}
		}

	</script>
</body>
</html>

<!-- 
	
Your Client ID : 264426182433-1kce65vbnt3goqg7gu7nlfhk7596titg.apps.googleusercontent.com


Your Client Secret : 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 

-->

