<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Spotifyy - Dashboard</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style2.css">
  <script src="js/index.js" defer></script>

</head>
<body>

	<header id="header">
		<nav class="links" style="--items: 5;">
			<a href="/">Home</a>
			<a href="/dashboard">Dashboard</a>
			<a href="/songs">Songs</a>
			<a href="#">Link 4</a>
			<a href="#">Link 5</a>
			<span class="line"></span>
		</nav>
	</header>


	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
		<div class="signup">
			<form  id="regForm">
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="txt" id="userName" placeholder="User name" required="">
				<input type="email" name="email" id="email" placeholder="Email" required="">
				<input type="password" name="pswd" id="password" placeholder="Password" required="">
				<button type="submit">SignUp</button>
			</form>
		</div>
	
		<div class="login">
			<form id="logForm">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="email" name="email" id="logEmail" placeholder="Email" required="">
				<input type="password" name="pswd" id="logPassword" placeholder="Password" required="">
				<button type="submit">LogIn</button>
			</form>
		</div>
	</div>
</body>
</html>

<!-- 
	
Your Client ID : 264426182433-1kce65vbnt3goqg7gu7nlfhk7596titg.apps.googleusercontent.com


Your Client Secret : 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 

-->

