<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Spotifyy - Sign up & Login Form</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style2.css">

</head>
<body>

	<header id="header">
		<nav class="links" style="--items: 5;">
			<a href="/">Home</a>
			<a href="/dashboard">Dashboard</a>
			<a href="/songs">Songs</a>
			<a href="#">Link 4</a>
			<a href="#">Link 5</a>
			<span class="line"></span>
		</nav>
	</header>
    <h1>
        Hello, <%= name %>
    </h1>

</body>
</html>

